ConsolaIntegracion/Service References/WSProd/IntegracaoPadraoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.geravd.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.geravd.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.geravd.com.br/">
      <s:element name="ParametrosExportacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="interfaceIntegracao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntegracaoResult" type="tns:RetornoExportacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoExportacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataHora" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoTicket" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Ticket" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckSum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Erros" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DescricaoErro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ParametrosConfirmacaoTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenAutenticacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceIntegracao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Versao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoTicket" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Documentos" type="tns:ArrayOfConfirmacaoDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConfirmacaoDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Documento" type="tns:ConfirmacaoDocumento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConfirmacaoDocumento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoDocumento" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Situacao" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoErro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensagemErro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmacaoTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessamentoOK" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="DataHora" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Erros" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParametrosImportacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="interfaceIntegracao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoImportacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataHora" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Erros" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntegracaoResult" type="tns:RetornoImportacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExportarDadosSoapIn">
    <wsdl:part name="parameters" element="tns:ParametrosExportacao" />
  </wsdl:message>
  <wsdl:message name="ExportarDadosSoapOut">
    <wsdl:part name="parameters" element="tns:ExportacaoResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionarConfirmacaoTicketSoapIn">
    <wsdl:part name="parameters" element="tns:ParametrosConfirmacaoTicket" />
  </wsdl:message>
  <wsdl:message name="AdicionarConfirmacaoTicketSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmacaoTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ImportarDadosSoapIn">
    <wsdl:part name="parameters" element="tns:ParametrosImportacao" />
  </wsdl:message>
  <wsdl:message name="ImportarDadosSoapOut">
    <wsdl:part name="parameters" element="tns:ImportacaoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSIntegracaoPadraoSoap">
    <wsdl:operation name="ExportarDados">
      <wsdl:input message="tns:ExportarDadosSoapIn" />
      <wsdl:output message="tns:ExportarDadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarConfirmacaoTicket">
      <wsdl:input message="tns:AdicionarConfirmacaoTicketSoapIn" />
      <wsdl:output message="tns:AdicionarConfirmacaoTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportarDados">
      <wsdl:input message="tns:ImportarDadosSoapIn" />
      <wsdl:output message="tns:ImportarDadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSIntegracaoPadraoSoap" type="tns:WSIntegracaoPadraoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportarDados">
      <soap:operation soapAction="http://www.geravd.com.br/ExportarDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarConfirmacaoTicket">
      <soap:operation soapAction="http://www.geravd.com.br/AdicionaConfirmacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarDados">
      <soap:operation soapAction="http://www.geravd.com.br/ImportarDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSIntegracaoPadraoSoap1" type="tns:WSIntegracaoPadraoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportarDados">
      <soap12:operation soapAction="http://www.geravd.com.br/ExportarDados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarConfirmacaoTicket">
      <soap12:operation soapAction="http://www.geravd.com.br/AdicionaConfirmacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarDados">
      <soap12:operation soapAction="http://www.geravd.com.br/ImportarDados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSIntegracaoPadrao">
    <wsdl:port name="WSIntegracaoPadraoSoap" binding="tns:WSIntegracaoPadraoSoap">
      <soap:address location="http://sginaturabo.geravd.com.br/Servicos/Integracao/Padrao/IntegracaoPadraoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="WSIntegracaoPadraoSoap1" binding="tns:WSIntegracaoPadraoSoap1">
      <soap12:address location="http://sginaturabo.geravd.com.br/Servicos/Integracao/Padrao/IntegracaoPadraoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>